<div class="container mt-4" id='form-container'>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @activity%>
      <%= form_with(model: @activity, class:"shadow p-3 pink-bg rounded ", local: true) do |f| %>
        <div class="text-center mt-4 text-white">
          <%= f.label(@activity.new_record? ? "Create a new activity" : "Edit your activity", class:"mb-3 display-4") %>
        </div>
        
        <div class="form-group row">
          <%= f.label :title, class:"col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class:"form-control shadow rounded", placeholder:'Name of the activity'%>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :description, class:"col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class:"form-control shadow rounded", placeholder:'Description of the activity'%>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.submit class:"btn btn-outline-light btn-lg"%>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to '[ Cancel and return to activities listing ]', activities_path(@activity), class:"text-white" %>
    </div>
  </div>
</div>



